<div id="schedulerDays" class="schedulerDays">
      <div id="schedulerDaysRow1"  class="w3-row">
      <div class="w3-col s3">      
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="mondayCheckbox" ng-model="daysSelected.monday">
          <label class="form-check-label" for="mondayCheckbox">Monday</label>
        </div>
      </div>
      <div class="w3-col s3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="tuesdayCheckbox" ng-model="daysSelected.tuesday">
          <label class="form-check-label" for="tuesdayCheckbox">Tuesday</label>
        </div>
      </div>
      <div class="w3-col s3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="wednesdayCheckbox" ng-model="daysSelected.wednesday">
          <label class="form-check-label" for="wednesdayCheckbox">Wednesday</label>
        </div>
      </div>
      <div class="w3-col s3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="thursdayCheckbox" ng-model="daysSelected.thursday">
          <label class="form-check-label" for="thursdayCheckbox">Thursday</label>
        </div>
      </div>
      </div>
      <div id="schedulerDaysRow2"  class="w3-row">
      <div class="w3-col s3">      
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="fridayCheckbox" ng-model="daysSelected.friday">
          <label class="form-check-label" for="fridayCheckbox">Friday</label>
        </div>
      </div>
      <div class="w3-col s3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="saturdayCheckbox" ng-model="daysSelected.saturday">
          <label class="form-check-label" for="saturdayCheckbox">Saturday</label>
        </div>
      </div>
      <div class="w3-col s3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="sundayCheckbox" ng-model="daysSelected.sunday">
          <label class="form-check-label" for="sundayCheckbox">Sunday</label>
        </div>
      </div>
      </div>
    </div>